:root {
  --cell-size: 12px;
  --num-cols: 64;
  --grid-width: calc(var(--cell-size) * (var(--num-cols)));
}

body {
  background-color: white;
  color: black;
}

.grid-container {
  position: fixed;
  width: var(--grid-width);
  height: var(--grid-width);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 0fr);
  border-style: dotted;
  border-color: black;
}

.grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 0;
  border: 0;
}

.grid-cell.colored {
  background-color: black;
}
