:root {
  --cell-size: 20px;
  --num-cells: 16;
  --grid-size: calc(var(var(--cell-size)) * (var(--num-cells)));
}

body {
  background-color: white;
  color: black;
}

.grid-container {
  position: fixed;
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template-columns: repeat(var(--num-cells), 0fr);
  border-style: dotted;
  border-color: black;
}

.grid {
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 0;
  border: 0;
}

.grid.colored {
  background-color: black;
}
